@import "../abstracts/variables";

.design-description {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 498px;
  background-image: url("../../img/Rectangle 8 mobile.jpg");
  background-size: cover;

  & h3 {
    color: $default-color;
    text-align: center;
    font-family: DynaPuff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  @media (min-width: $bp-md) {
    height: 800px;
    background-image: url("../../img/Rectangle 8 tablet.jpg");

    & h3 {
      font-size: 48px;
    }
  }

  @media (min-width: $bp-lg) {
    background-image: url("../../img/Rectangle 8.jpg");

    & h3{
      width: 1059px;
    }
  }
}