@import "../abstracts/variables";

.meet{
  display: flex;
  height: 466px;
  background: $primary-color;
  align-items: center;
  position: relative;
  justify-content: center;

  &::after{
    content: url("../../img/svg/ellipse-mobile.svg");
    position: absolute;
    right: 0;
  }

  @media (min-width: $bp-md){
    height: 470px;
    justify-content: unset;

    &::after{
      content: url("../../img/svg/ellips-tablet.svg");
    }
  }

  @media (min-width: $bp-lg) {
    &::after{
      content: url("../../img/svg/ellips-desktop.svg");
    }
  }
}

.meet__text-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 342px;
  height: 318px;

  & h2{
    color: #FAEB49;
    font-family: DynaPuff;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & p{
    color: $default-color;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  @media (min-width: $bp-md) {
    width: 540px;
    height: 267px;
    margin-left: 33px;

    & h2{
      font-size: 48px;
    }

    & p{
      font-size: 16px;
    }
  }

  @media (min-width: $bp-lg) {
    margin-left: 191px;
  }
}

.bottom-text{
  display: flex;
  flex-direction: row;
  gap: 14px;

  @media (min-width: $bp-md) {
    gap: 96px;
  }
}

.bottom-text__container{
  display: flex;
  flex-direction: column;
  gap: 5px;

  & h3{
    color: $default-color;
    font-family: DynaPuff;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & span{
    color: $default-color;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  @media (min-width: $bp-md) {
    & h3{
      font-size: 48px;
    }
  }
}