$bp-md: 768px;
$bp-lg: 1440px;

$header-background-color: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
$default-color: #FFF;
$primary-color: #202020;
$secondary-color: #3C3C3C;
$project-card-color: #FFFEF2;
$project-card-text-color: #565656;